In [1]:
import numpy as np   # basic numeric module in python, for array and matrix computation
import pandas as pd  # advanced numeric module, excels in data frame analysis
import matplotlib.pyplot as plt  # for data visualization
%pylab inline
import statsmodels.formula.api as smf    # for OLS regression

Populating the interactive namespace from numpy and matplotlib

## Example. Income vs Education in NYC zip code areas

Model population's cumulative income against the number of individuals of different education level within the area. Higher percentage of people with higher education levels is expected to increase an average individual earning prospects

### Memo:
* **IncomePerCapita**----measured in USD
* **rest of the columns**----population number under each category, e.g.
    * total population over 25 years old
    * holding a Bachelor's, Master's, Doctorate degree
    * graduating from high school, professional school, etc.
    * having less than high school, some incomplete college etc

In [2]:
data = pd.read_csv('IncomeEduReg.csv')
data.head()

,Zipcode,IncomePerCapita,PopOver25,LessThanHS,HighSchool,SomeCollege,Bachelor,Master,Doctorate,ProfSchool
0,10001,77512.0,16328,1389,1665,2075,6061,3412,519,1207
1,10002,26905.0,60932,21170,12718,8532,12721,4001,641,1149
2,10003,79088.0,41182,1499,2810,4516,17958,9094,1626,3679
3,10004,98020.0,2279,29,87,305,984,550,86,238
4,10005,99633.0,5954,133,103,454,2745,1637,219,663

We will be looking to model the total income of the zip code as
$$
TotalIncome=\sum_i w_i Population_i
$$
where $Population_i$ is the number of people with certain education and the weight coefficient $w_i$ could be interpreted as the average income per capita within this population group. No intercept as we do not expect zero population to have nonzero income

In [3]:
data.dropna(inplace = True)  #drop rows with NANs

In [4]:
data['Income'] = data['IncomePerCapita'] * data['PopOver25'] #calculate total income of the population over 25

In [5]:
#first run a regression again total topulation to define the overall average income per capita
lm2 = smf.ols(formula = 'Income ~ PopOver25-1', data = data).fit()
print(lm2.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                 Income   R-squared (uncentered):                   0.658
Model:                            OLS   Adj. R-squared (uncentered):              0.657
Method:                 Least Squares   F-statistic:                              347.0
Date:                Tue, 19 Oct 2021   Prob (F-statistic):                    7.54e-44
Time:                        14:39:08   Log-Likelihood:                         -3976.7
No. Observations:                 181   AIC:                                      7955.
Df Residuals:                     180   BIC:                                      7959.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
PopOver25   3.217e+04   1726.829     18.627      0.000    2.88e+04    3.56e+04
==============================================================================
Omnibus:                       89.966   Durbin-Watson:                   0.835
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              297.952
Skew:                           2.091   Prob(JB):                     2.00e-65
Kurtosis:                       7.692   Cond. No.                         1.00
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

And now run the regression for all the education categories

In [6]:
#use this operator to generate the regression formulae
' + '.join(data.columns[3:10])

'LessThanHS + HighSchool + SomeCollege + Bachelor + Master + Doctorate + ProfSchool'

In [7]:
lm2 = smf.ols(formula = 'Income ~ ' + ' + '.join(data.columns[3:10])+'-1', data = data).fit()
print(lm2.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                 Income   R-squared (uncentered):                   0.971
Model:                            OLS   Adj. R-squared (uncentered):              0.970
Method:                 Least Squares   F-statistic:                              840.7
Date:                Tue, 19 Oct 2021   Prob (F-statistic):                   1.50e-130
Time:                        14:39:09   Log-Likelihood:                         -3752.6
No. Observations:                 181   AIC:                                      7519.
Df Residuals:                     174   BIC:                                      7542.
Df Model:                           7
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
LessThanHS  -9811.5391   5433.915     -1.806      0.073   -2.05e+04     913.333
HighSchool   1.893e+04   1.04e+04      1.826      0.070   -1531.122    3.94e+04
SomeCollege  1.817e+04   1.33e+04      1.366      0.174   -8074.639    4.44e+04
Bachelor     5.277e+04   1.35e+04      3.916      0.000    2.62e+04    7.94e+04
Master      -3.699e+04   3.31e+04     -1.119      0.265   -1.02e+05    2.83e+04
Doctorate   -3.932e+04   9.14e+04     -0.430      0.667    -2.2e+05    1.41e+05
ProfSchool   6.852e+05   4.71e+04     14.536      0.000    5.92e+05    7.78e+05
==============================================================================
Omnibus:                       41.205   Durbin-Watson:                   1.847
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              303.199
Skew:                           0.543   Prob(JB):                     1.45e-66
Kurtosis:                       9.247   Cond. No.                         82.7
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Only two regressors seem significant according to p-value. Also the confidence intervals are pretty broad not allowing to reliably assess the income per capita for each category of residents. This is likely because of the strong internal correlations between the regressors, especially among Bachelor,Master,Doctor and Prof.School

In [8]:
data.corr()

,Zipcode,IncomePerCapita,PopOver25,LessThanHS,HighSchool,SomeCollege,Bachelor,Master,Doctorate,ProfSchool,Income
Zipcode,1.000000,-0.490675,0.089223,0.138386,0.298570,0.233799,-0.136994,-0.224106,-0.361479,-0.340607,-0.326244
IncomePerCapita,-0.490675,1.000000,-0.286507,-0.530034,-0.559255,-0.500068,0.262061,0.385013,0.447516,0.571962,0.542535
PopOver25,0.089223,-0.286507,1.000000,0.747408,0.833786,0.876240,0.691929,0.516295,0.350869,0.313306,0.470183
LessThanHS,0.138386,-0.530034,0.747408,1.000000,0.779932,0.693017,0.146826,-0.056804,-0.116706,-0.189604,-0.061991
HighSchool,0.298570,-0.559255,0.833786,0.779932,1.000000,0.918826,0.244020,0.028185,-0.135187,-0.187038,0.005785
SomeCollege,0.233799,-0.500068,0.876240,0.693017,0.918826,1.000000,0.389975,0.200074,0.014369,-0.042483,0.146218
Bachelor,-0.136994,0.262061,0.691929,0.146826,0.244020,0.389975,1.000000,0.919023,0.769090,0.810396,0.873868
Master,-0.224106,0.385013,0.516295,-0.056804,0.028185,0.200074,0.919023,1.000000,0.904758,0.913308,0.912174
Doctorate,-0.361479,0.447516,0.350869,-0.116706,-0.135187,0.014369,0.769090,0.904758,1.000000,0.889662,0.839830
ProfSchool,-0.340607,0.571962,0.313306,-0.189604,-0.187038,-0.042483,0.810396,0.913308,0.889662,1.000000,0.943770
Income,-0.326244,0.542535,0.470183,-0.061991,0.005785,0.146218,0.873868,0.912174,0.839830,0.943770,1.000000

## Homework

Q1. Implement a linear regression of the total income vs population counts with Bachelor, "Advanced" (Advanced = Master + Doctorate + ProfSchool) and "Other" education incorporating all less than Bachelor (some college, high school, less than high school). 

Are all of those regressors statistically signifiant with respect to p-value<5\% criteria? Which of the groups has the highest income per capita according to the slope coefficients with respect to their confidence intervals?

Q2. Visualize the regression fit by plotting the observation versus our prediction for the income per zip code as a scatter plot